*{
    margin: 0;
}
body{
    font-family: 'Open Sans', sans-serif;
}
.btn-primary{
    color: #005FAC;
    font-weight: 600;
    font-size: 20px;
    border: none; 
    padding: 20px 25px;
    border-radius: 5px;
    background-color: #fff;
}
/* main styles starts here */

section{
    margin: 130px 0;
}

/* header styles starts here */
header{
    padding-top: 216px;
    padding-bottom: 200px;
    background-image: url(../images/banner/banner3.png);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}
.container{
    max-width: 1140px;
    margin: 0 auto;
}
.banner-content{
    color: #fff;
    text-align: right;
    margin-left: 500px;
}
.banner-header{
    font-weight: 700;
    font-size: 65px;
    margin-bottom: 24px;
}
.banner-description{
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 32px;
    margin-left: 200px;
}
/* header styles ends here */

/* main section styles starts here */
.failure{
    display: flex;
    align-items: center;
    column-gap: 87px;
    
}
.section-title{
    color: #151414;
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 24px;
}
.failure-content-description{
    color: #444343;
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 16px;
}
.failure-item{
    display: flex;
    column-gap: 10px;
}
.failure-item img{
    width: 24px;
}

/* -------------------
    my plans styles start here
--------------------- */
.plans-section-title{
    text-align: center;
    margin-bottom: 50px;
}
.plans-item{
    display: flex;
    justify-content: space-around;
    text-align: center;
    column-gap: 86px;
}
.plans-title{
    color: #151414;
    font-weight: 700;
    font-size: 30px;
}
.plans-info{
    color: #737272;
    font-weight: 500;
    font-size: 25px;
}
/* ------------------------------
    call now styles starts here
--------------------------------- */
.call-now{
    padding: 64px 59px;
    background-image: url(../images/watch.png), linear-gradient(90deg, #005FAC, rgba(0, 95, 172, 0) 100%);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-blend-mode: multiply;
    border-radius: 8px;
}
.call-now-title{
    color: #fff;
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 24px;
}

/* main section styles starts here */